@using RSLERP.Models
@using RSLERP.DataManager.Entity
@*@using RSLERP.DataManager*@
@model RSLERP.Models.ViewModel
@{
    ViewBag.Title = "load";
    Layout = "~/Views/Shared/_LayoutHrm.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Employee Personal Information
            @*<small>Preview</small>*@
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Employee Personal Information</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- left column -->
        <!-- /.box-header -->
        <!-- form start -->
        @{Html.RenderAction("SubmitStatus", "Common", new { status = Model.CommitStatus, message = Model.SaveChangeMessage }); }
        @using (Html.BeginForm("Store", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "form", data_toggle = "validator", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-8">
                    <div class="box box-primary">

                        <div class="box-body">
                            <input type="hidden" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.id" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.id" />

                            <div class="row">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Employee</label>
                                        <select id="ddlEmployee" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.hrm_employee_official_id" class="form-control select2" onchange="onchangeemployee()">
                                            <option value="0">-- Select Employee ID --</option>
                                            @foreach (HrmEmployeeOfficial emp in Model.VM_HRM_EMPLOYEE_OFFICIALS)
                                            {
                                                <option value="@emp.id">@emp.employee_id</option>
                                            }
                                        </select>
                                    </div>
                                    <level id="lblLoadingMsg"></level>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="col-md-4 partialLoad">
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" height="250" width="300" id="empImage" src="" alt="User profile picture" />

                            <h3 class="profile-username text-center" id="employee_name"></h3>

                            <p class="text-muted text-center" id="desig_name"></p>

                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Employee ID</b> <p id="emp_id" class="pull-right"></p>
                                </li>
                                <li class="list-group-item">
                                    <b>Department</b> <p id="dep_name" class="pull-right"></p>
                                </li>
                                <li class="list-group-item">
                                    <b>Section</b> <p id="sec_name" class="pull-right"></p>
                                </li>
                                <li class="list-group-item">
                                    <b>Sub-Section</b> <p id="subsec_name" class="pull-right"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row partialLoad">
                <div class="col-md-12">
                    <div id="choseLvl" class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Personal Information</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="box-body">
                                    <input type="hidden" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.id" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.id"/>

                                    <div class="form-group">
                                        <label class="control-label">Father's Name</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.fathers_name" id="input_epifname" placeholder="Father's Name" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.fathers_name">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.fathers_name")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Mother's Name</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.mothers_name" id="input_epimname" placeholder="Mother's Name" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.mothers_name">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.mothers_name")
                                    </div>

                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input readonly="readonly" type="text" class="form-control pull-right datepicker2" id="datepicker2" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.date_of_birth" value="@((Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.date_of_birth == null || Convert.ToDateTime(Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.date_of_birth).Year < 1900) ? "" : Convert.ToDateTime(Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.date_of_birth).ToString("dd MMMM yyyy"))">
                                            @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.date_of_birth")
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Gender</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.gender" id="input_epigender" placeholder="Gender" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.gender">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.gender")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Religion</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.religion" id="input_epireligion" placeholder="Religion" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.religion">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.religion")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Nationality</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.nationality" id="input_epinationality" placeholder="Nationality" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.nationality">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.nationality")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">National ID</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.nid" id="input_epinid" placeholder="National ID" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.nid">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.nid")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">TIN No.</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.tin" id="input_epitin" placeholder="TIN No." value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.tin">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.tin")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Blood Group</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.blood_group" id="input_epibg" placeholder="Blood Group" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.blood_group">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.blood_group")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Marital Status</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.marital_status" id="input_epims" placeholder="Marital Status" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.marital_status">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.marital_status")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Personal Contact No.</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.personal_contact_no" id="input_epipcn" placeholder="Personal Contact No." value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.personal_contact_no">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.personal_contact_no")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.email" id="input_epiemail" placeholder="Email" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.email">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.email")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Present Address</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.present_address" id="input_epiprad" placeholder="Present Address" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.present_address">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.present_address")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Permanent Address</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.permanent_address" id="input_epipmad" placeholder="Permanent Address" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.permanent_address">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.permanent_address")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Emergency Contact Person</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.emergency_contact_name" id="input_epiecp" placeholder="Emergency Contact Person" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.emergency_contact_name">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.emergency_contact_name")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Emergency Contact Address</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.emergency_contact_address" id="input_epieca" placeholder="Emergency Contact Address" value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.emergency_contact_address">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.emergency_contact_address")
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Emergency Contact No.</label>
                                        <input type="text" class="form-control" name="VM_HRM_EMPLOYEE_PERSONAL_INFO.emergency_contact_no" id="input_epiecn" placeholder="Emergency Contact No." value="@Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.emergency_contact_no">
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.emergency_contact_no")
                                    </div>

                                    <div class="form-group">
                                        <label>Relation</label>
                                        <select name="VM_HRM_EMPLOYEE_PERSONAL_INFO.hrm_employee_relation_id" id="input_epirelation" class="form-control select2">
                                            <option value="all">-- Select --</option>
                                            @foreach (HrmEmployeeRelation src in Model.VM_HRM_EMPLOYEE_RELATIONS)
                                            {
                                                <option value="@src.id" @(Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.hrm_employee_relation_id == src.id ? "selected" : "")>@src.name</option>
                                            }
                                        </select>
                                        @UserHelper.ModelStateMsg(Model.Model_State, "VM_HRM_EMPLOYEE_PERSONAL_INFO.hrm_employee_relation_id")
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">@(Model.VM_HRM_EMPLOYEE_PERSONAL_INFO.id == 0 ? "Save" : "Update")</button>
                        </div>

                    </div>
                </div>

            </div>
        }
    </section>
</div>
@section masterJs
    {
    <script type="text/javascript">
        $(document).ready(function () {
            Init();
        });
        //where found Partial Load Class make it hidden
        $(".partialLoad").addClass("hiddenPnl");

        function onchangeemployee() {

            $("#tblEduLvls > tbody").html("");
            var htmlTblItems = [];
            //where found Partial Load Class make it hidden
            $(".partialLoad").addClass("hiddenPnl");

            function zeroPad(number, size) {
                var str = "0000" + number;
                return str.substr(str.length - size);
            }

            function toCSDate(date) {
                var dt = new Date(parseInt(date.replace('/Date(', '')));
                var dtCS = zeroPad(dt.getDate(), 2) + '/' + zeroPad(dt.getMonth() + 1, 2) + '/' + zeroPad(dt.getFullYear(), 4);
                return dtCS.toString();
            }

            //Show Loading Message
            $("#lblLoadingMsg").html("Loading...");

            var empID = $("#ddlEmployee").val();
                $.ajax({
                    url: '/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/JsonEmployeeLoad?hrm_employee_official_id=' + empID,
                    type: 'GET',
                    success: function (data) {
                        if (data.CommitStatus) {
                            $("#lblLoadingMsg").html("");
                            $(".partialLoad").removeClass("hiddenPnl");
                            $(".partialLoad #employee_name").text(data.VM_HRM_EMPLOYEE_OFFICIAL.name);
                            $(".partialLoad #desig_name").text(data.VM_HRM_DESIGNATION.name);
                            $(".partialLoad #dep_name").text(data.VM_DEPARTMENT.name);
                            $(".partialLoad #empImage").attr("src", data.VM_HRM_EMPLOYEE_OFFICIAL.picture);
                            $(".partialLoad #emp_id").text(data.VM_HRM_EMPLOYEE_OFFICIAL.employee_id);
                            $(".partialLoad #sec_name").text(data.VM_HRM_SECTION.name);
                            $(".partialLoad #subsec_name").text(data.VM_HRM_SUB_SECTION.name);
                            $(".partialLoad #input_epifname").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.fathers_name);
                            $(".partialLoad #input_epimname").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.mothers_name);
                            $(".partialLoad #datepicker2").val(toCSDate(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.date_of_birth));
                            $(".partialLoad #input_epigender").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.gender);
                            $(".partialLoad #input_epireligion").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.religion);
                            $(".partialLoad #input_epinationality").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.nationality);
                            $(".partialLoad #input_epinid").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.nid);
                            $(".partialLoad #input_epitin").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.tin);
                            $(".partialLoad #input_epibg").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.blood_group);
                            $(".partialLoad #input_epims").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.marital_status);
                            $(".partialLoad #input_epipcn").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.personal_contact_no);
                            $(".partialLoad #input_epiemail").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.email);
                            $(".partialLoad #input_epiprad").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.present_address);
                            $(".partialLoad #input_epipmad").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.present_address);
                            $(".partialLoad #input_epiecp").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.emergency_contact_name);
                            $(".partialLoad #input_epieca").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.emergency_contact_address);
                            $(".partialLoad #input_epiecn").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.emergency_contact_no);
                            $(".partialLoad #input_epirelation").val(data.VM_HRM_EMPLOYEE_PERSONAL_INFO.hrm_employee_relation_id);
                        }
                        else
                        {
                            $("#lblLoadingMsg").html("No Employee Found");
                        }
                    },
                    error: function () {

                    }
                });
            // alert(id);
        }

        $(function () {
            $('.select2').select2();
        });


        $('.datepicker2').datepicker({
            format: 'dd MM yyyy',
            autoclose: true
        });

    </script>
}
