@using RSLERP.Models
@using RSLERP.DataManager.Entity
@model RSLERP.Models.ViewModel
@{
    ViewBag.Title = "load";
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Currency
            @*<small>Preview</small>*@
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="~/Currency/">Currency</a></li>
            <li class="active">Currency Add/Edit</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        @*<h3 class="box-title">User</h3>*@
                        <a href="~/Currency" class="btn btn-primary">« Back</a>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    @{Html.RenderAction("SubmitStatus", "Common", new { status = Model.CommitStatus, message = Model.SaveChangeMessage }); }
                    @using (Html.BeginForm("Store", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "form", data_toggle = "validator", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="box-body">
                        <input type="hidden" name="VM_CURRENCY.id" value="@Model.VM_CURRENCY.id" />

                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text" class="form-control" name="VM_CURRENCY.name" id="crc_inputname" placeholder="Name" value="@Model.VM_CURRENCY.name">
                            @UserHelper.ModelStateMsg(Model.Model_State, "VM_CURRENCY.name")
                        </div>

                        <div class="form-group">
                            <label class="control-label">Short Name</label>
                            <input type="text" class="form-control" name="VM_CURRENCY.short_name" id="crc_inputshortname" placeholder="Short Name" value="@Model.VM_CURRENCY.short_name">
                            @UserHelper.ModelStateMsg(Model.Model_State, "VM_CURRENCY.short_name")
                        </div>

                        <div class="form-group">
                            <label class="control-label">Symbol</label>
                            <input type="text" class="form-control" name="VM_CURRENCY.symbol" id="crc_inputsymbol" placeholder="Short Name" value="@Model.VM_CURRENCY.symbol">
                            @UserHelper.ModelStateMsg(Model.Model_State, "VM_CURRENCY.symbol")
                        </div>

                        <div class="checkbox">
                            <label>
                                @UserHelper.CheckBox("view", Model.VM_CURRENCY.status, "crcstatusID", "VM_CURRENCY.status", "crcstatusID") Active
                            </label>
                        </div>

                    </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">@(Model.VM_CURRENCY.id == 0 ? "Save" : "Update")</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
@*<script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>*@
@section masterJs
    {
    <script type="text/javascript">

        $(function () {

            $('.select2').select2();

        });


        $('.datepicker').datepicker({
            format: 'dd MM yyyy',
            autoclose: true
        });
    </script>
}