@using RSLERP.Models
@using RSLERP.DataManager.Entity
@model RSLERP.Models.ViewModel
@{
    ViewBag.Title = "Employees Load";
    Layout = "~/Views/Shared/_LayoutCrm.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Employee
            @*<small>Preview</small>*@
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="~/Views/Employee">Employees</a></li>
            <li class="active">Employee Add/Edit</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        @*<h3 class="box-title">User</h3>*@
                        <a href="~/Employee" class="btn btn-primary">« Back</a>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    @{Html.RenderAction("SubmitStatus", "Common", new { status = Model.CommitStatus, message = Model.SaveChangeMessage }); }
                    @using (Html.BeginForm("Store", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "form", data_toggle = "validator", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="box-body">
                            <input type="hidden" name="VM_EMPLOYEE.id" value="@Model.VM_EMPLOYEE.id" />
                            <div class="form-group">
                                <label>Username</label>
                                <select class="form-control select2" style="width: 100%;" name="VM_EMPLOYEE.user_id">
                                    @foreach (s_User usr in Model.VM_USERS)
                                    {
                                        <option @(Model.VM_EMPLOYEE.user_id == @usr.id ? "selected" : "") value="@usr.u_ID">@usr.u_LoginName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input type="text" class="form-control" name="VM_EMPLOYEE.name" id="inputEmail3" placeholder="Name" value="@Model.VM_EMPLOYEE.name">
                                @UserHelper.ModelStateMsg(Model.Model_State, "VM_EMPLOYEE.name")
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="text" class="form-control" name="VM_EMPLOYEE.email" id="inputEmail3" placeholder="Email" value="@Model.VM_EMPLOYEE.email">
                                @UserHelper.ModelStateMsg(Model.Model_State, "VM_EMPLOYEE.email")
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mobile</label>
                                <input type="text" class="form-control" name="VM_EMPLOYEE.mobile" id="inputEmail3" placeholder="Mobile" value="@Model.VM_EMPLOYEE.mobile">
                                @UserHelper.ModelStateMsg(Model.Model_State, "VM_EMPLOYEE.mobile")
                            </div>
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                <input type="text" class="form-control" name="VM_EMPLOYEE.address" id="inputEmail3" placeholder="Address" value="@Model.VM_EMPLOYEE.address">
                                @UserHelper.ModelStateMsg(Model.Model_State, "VM_EMPLOYEE.address")
                            </div>
                            <div class="form-group">
                                <label for="">Birthdate</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" name="VM_EMPLOYEE.birthdate" class="form-control pull-right datepicker" id="datepicker" value="@(Model.VM_EMPLOYEE.birthdate==null?"":Model.VM_EMPLOYEE.birthdate.ToString("dd MMMM yyyy"))">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Joining Date</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" name="VM_EMPLOYEE.joining_date" class="form-control pull-right datepicker" id="datepicker" value="@(Model.VM_EMPLOYEE.joining_date==null?"":Model.VM_EMPLOYEE.joining_date.ToString("dd MMMM yyyy"))">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">@(Model.VM_EMPLOYEE.id == 0 ? "Save" : "Update")</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
    @*<script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>*@
    @section masterJs
    {
        <script type="text/javascript">

            $(function () {

                $('.select2').select2();

            });


            $('.datepicker').datepicker({
                format: 'dd MM yyyy',
                autoclose: true
            });
        </script>
    }
