@using RSLERP.Models
@using RSLERP.DataManager.Entity
@model RSLERP.Models.ViewModel
@{
    ViewBag.Title = "load";
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User Create
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <a href="@Url.Action("index",HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())" class="btn btn-primary">« Back</a>
                    </div>
                    @{Html.RenderAction("SubmitStatus", "Common", new { status = Model.CommitStatus, message = Model.SaveChangeMessage }); }
                    @using (Html.BeginForm("Store", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "form", data_toggle = "validator", enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" value="@Model.VM_COMPANY_USER.u_ID" name="VM_ROLE.Id" />

                        @Html.AntiForgeryToken()
                        <div class="box-body">
                            <input type="hidden" value="@Model.VM_COMPANY_USER.u_ID" name="VM_COMPANY_USER.u_ID" />
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input type="text" class="form-control" name="VM_COMPANY_USER.u_LoginName" id="inputEmail3" placeholder="User Name" value="@Model.VM_COMPANY_USER.u_LoginName">
                                @UserHelper.ModelStateMsg(Model.Model_State, "VM_COMPANY_USER.u_LoginName")
                            </div>
                            @if (Model.VM_COMPANY_USER.u_ID <1)
                            {
                                
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <input type="password" class="form-control" name="VM_COMPANY_USER.u_Password" id="inputEmail3" placeholder="passsword" value="@Model.VM_COMPANY_USER.u_Password">
                                    @UserHelper.ModelStateMsg(Model.Model_State, "VM_COMPANY_USER.u_Password")
                                    @*<input type="checkbox" onclick="myFunction()">Show Password*@
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Confirm Password</label>
                                    <input type="password" class="form-control" name="VM_COMPANY_USER.confirm_password" id="inputEmail3" placeholder="Confirm Password" value="@Model.VM_COMPANY_USER.confirm_password">
                                    @UserHelper.ModelStateMsg(Model.Model_State, "VM_COMPANY_USER.confirm_password")
                                </div>
                            }
                            else
                            {
                                <input type="hidden" value="@Model.VM_COMPANY_USER.u_Password" name="VM_COMPANY_USER.u_Password" />
                                <input type="hidden" value="@Model.VM_COMPANY_USER.u_Password" name="VM_COMPANY_USER.confirm_password" />
                            }
                            <div class="checkbox">
                                <label>
                                    @UserHelper.CheckBox("view", Model.VM_COMPANY_USER.u_Status,"statusID", "VM_COMPANY_USER.u_Status", "statusID") Active

                                </label>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">@(Model.VM_COMPANY_USER.u_ID == 0 ? "Save" : "Update")</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
@section masterJs
    {
    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
            $(function () {

                $('.select2').select2();

            });


            $('.datepicker').datepicker({
                format: 'dd MM yyyy',
                autoclose: true
            });
    </script>
}

