
@using RSLERP.Models
@using RSLERP.DataManager.Entity
@model RSLERP.Models.ViewModel
@{
    ViewBag.Title = "load";
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Project Segment
            @*<small>Preview</small>*@
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="~/ProjectSegment/">Project Segment</a></li>
            <li class="active">Project Segment Add/Edit</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        @*<h3 class="box-title">User</h3>*@
                        <a href="~/ProjectSegment" class="btn btn-primary">« Back</a>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    @{Html.RenderAction("SubmitStatus", "Common", new { status = Model.CommitStatus, message = Model.SaveChangeMessage }); }
                    @using (Html.BeginForm("Store", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "form", data_toggle = "validator", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="box-body">
                            <input type="hidden" name="VM_PROJECT_SEGMENT.id" value="@Model.VM_PROJECT_SEGMENT.id" />

                            <div class="form-group">
                                <label>Select Business Sector</label>
                                <select name="VM_PROJECT_SEGMENT.business_sector_id" class="form-control">
                                    @foreach (BusinessSector srcbs in Model.VM_BUSINESS_SECTORS)
                                    {
                                        <option value="@srcbs.id">@srcbs.name</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Project Name</label>
                                <input type="text" class="form-control" name="VM_PROJECT_SEGMENT.name" id="ps_inputname" placeholder="Name" value="@Model.VM_PROJECT_SEGMENT.name">
                                @UserHelper.ModelStateMsg(Model.Model_State, "VM_PROJECT_SEGMENT.name")
                            </div>

                            <div class="form-group">
                                <label class="control-label">Code</label>
                                <input type="text" class="form-control" name="VM_PROJECT_SEGMENT.code" id="ps_inputcode" placeholder="Code" value="@Model.VM_PROJECT_SEGMENT.code">
                                @UserHelper.ModelStateMsg(Model.Model_State, "VM_PROJECT_SEGMENT.code")
                            </div>

                            <div class="form-group">
                                <label class="control-label">Location</label>
                                <input type="text" class="form-control" name="VM_PROJECT_SEGMENT.location" id="ps_inputlocation" placeholder="location" value="@Model.VM_PROJECT_SEGMENT.location">
                                @UserHelper.ModelStateMsg(Model.Model_State, "VM_PROJECT_SEGMENT.location")
                            </div>

                            <div class="form-group">
                                <label class="control-label">Project Manager</label>
                                <input type="text" class="form-control" name="VM_PROJECT_SEGMENT.manager" id="ps_inputmanager" placeholder="Project Manager" value="@Model.VM_PROJECT_SEGMENT.manager">
                                @UserHelper.ModelStateMsg(Model.Model_State, "VM_PROJECT_SEGMENT.manager")
                            </div>

                            <div class="form-group">
                                <label class="control-label">Contact No.</label>
                                <input type="text" class="form-control" name="VM_PROJECT_SEGMENT.contact_no" id="ps_inputmanager" placeholder="Contact No." value="@Model.VM_PROJECT_SEGMENT.contact_no">
                                @UserHelper.ModelStateMsg(Model.Model_State, "VM_PROJECT_SEGMENT.contact_no")
                            </div>

                            <div class="form-group">
                                <label>Starting Date:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input readonly="readonly" type="text" class="form-control datepicker pull-right" id="datepicker3" name="VM_PROJECT_SEGMENT.start_date" value="@((Model.VM_PROJECT_SEGMENT.start_date == null || Convert.ToDateTime(Model.VM_PROJECT_SEGMENT.start_date).Year < 1900) ? "" : Convert.ToDateTime(Model.VM_PROJECT_SEGMENT.start_date).ToString("dd MMMM yyyy"))">
                                </div>
                                <!-- /.input group -->
                            </div>

                            <div class="form-group">
                                <label>Ending Date:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input readonly="readonly" type="text" class="form-control datepicker pull-right" id="datepicker4" name="VM_PROJECT_SEGMENT.end_date" value="@((Model.VM_PROJECT_SEGMENT.end_date == null || Convert.ToDateTime(Model.VM_PROJECT_SEGMENT.end_date).Year < 1900) ? "" : Convert.ToDateTime(Model.VM_PROJECT_SEGMENT.end_date).ToString("dd MMMM yyyy"))">
                                    @UserHelper.ModelStateMsg(Model.Model_State, "VM_PROJECT_SEGMENT.end_date")

                                </div>
                                <!-- /.input group -->
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">@(Model.VM_PROJECT_SEGMENT.id == 0 ? "Save" : "Update")</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
@*<script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>*@
@section masterJs
    {
    <script type="text/javascript">

        $(function () {

            $('.select2').select2();

        });


        $('.datepicker').datepicker({
            format: 'dd MM yyyy',
            autoclose: true
        });
    </script>
}