@using RSLERP.Models
@using RSLERP.DataManager.Entity
@*@using RSLERP.DataManager*@
@model RSLERP.Models.ViewModel
@{
    ViewBag.Title = "load";
    Layout = "~/Views/Shared/_LayoutHrm.cshtml";
    String defaultParentName = "Top Most Employee";
    int defaultParentId = 0;
}
<style type="text/css">
    .hiddenPnl
    {
        display:none;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Official Employee
            @*<small>Preview</small>*@
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="~/HrmEmployeeOfficial">Official Employee Information</a></li>
            <li class="active">Employee Add/Edit</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- left column -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <a href="@Url.Action("load",HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())" class="btn btn-primary">« Back</a>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @{Html.RenderAction("SubmitStatus", "Common", new { status = Model.CommitStatus, message = Model.SaveChangeMessage }); }
            @using (Html.BeginForm("Store", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "form", data_toggle = "validator", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    <input type="hidden" name="VM_HRM_EMPLOYEE_ACADEMIC_INFO.id" value="@Model.VM_HRM_EMPLOYEE_ACADEMIC_INFO.id" />

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Employee</label>
                                <select id="ddlEmployee" name="VM_HRM_EMPLOYEE_OFFICIAL.id" class="form-control select2" onchange="onchangeemployee()">
                                    <option value="all">-- Select Employee --</option>
                                    @foreach (HrmEmployeeOfficial emp in Model.VM_HRM_EMPLOYEE_OFFICIALS)
                                    {
                                        <option value="@emp.id" @(emp.id == Model.VM_HRM_EMPLOYEE_ACADEMIC_INFO.HrmEmployeeOfficial_ID ? "selected" : "")>@emp.employee_id</option>
                                    }
                                </select>
                            </div>
                            <level id="lblLoadingMsg"></level>
                            <div class="partialLoad">
                              
                                <div class="form-group">
                                    <label>Employee Name</label>
                                    <input type="text" class="form-control" id="employee_name" placeholder="Employee last Name" name="employee_name" readonly>
                                </div>

                                <div class="form-group">
                                    <label>Employee Designation</label>
                                    <input type="text" class="form-control" id="desig_name" placeholder="Employee last Name" readonly name="desig_name" >
                                </div>

                                <div class="form-group">
                                  
                                    <label>Employee Department</label>
                                    <input type="text" class="form-control" id="dep_name" placeholder="Employee last Name" readonly name="dep_name">
                                </div>

                            </div>

                            
                        </div>
                        



                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="choseLvl" class="box box-group partialLoad">

                                <div class="box-header with-border">
                                    <h3 class="box-title">Add Education Level</h3>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2">
                                            <select id="education_level_id" class="form-control select2">
                                                <option value="">-- Select Exam --</option>
                                                @foreach (HrmEducationLevel edulvl in Model.VM_HRM_EDUCATIONS_LEVELS)
                                                {
                                                    <option value="@edulvl.id">@edulvl.level_name</option>
                                                }
                                            </select>
                                      
                                    </div>

                                    <div class="col-lg-2">
                                            <input type="text" class="form-control input-sm" id="institute_name" placeholder="Institute Name" name="ins_name">
                                     
                                    </div>

                                    <div class="col-lg-2">
                                            <input type="text" class="form-control input-sm" id="edu_board" placeholder="Education Board" name="edu_board">
                                        
                                    </div>

                                    <div class="col-lg-2">
                                            <input type="text" class="form-control input-sm" id="passingyear" placeholder="Institute Name" name="pass_year">
                                        
                                    </div>

                                    <div class="col-lg-2">
                                            <input type="text" class="form-control input-sm" id="major_group" placeholder="Major / Group Name" name="major_group">
                                   </div>

                                    <div class="col-lg-1">
                                            <input type="text" class="form-control input-sm" id="result" placeholder="Result" name="result">
                                        
                                    </div>
                                    <div class="col-lg-1">
                                            <button type="button" id="addEduLvl" class="btn btn-primary">Add</button>
                                       
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-condensed" id="tblEduLvls">
                                            <thead>
                                                <tr>
                                                    <th>Education Level</th>
                                                    <th>Institute</th>
                                                    <th>Board</th>
                                                    <th>Passing Year</th>
                                                    <th>Group</th>
                                                    <th>Result</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               

                                            </tbody>
                                        </table>


                                        <table id="tableServer"></table>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer partialLoad">
                        <button type="submit" class="btn btn-primary partialLoad">@(Model.VM_HRM_EMPLOYEE_ACADEMIC_INFO.id == 0 ? "Save" : "Update")</button>
                    </div>

                </div>
            }
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
@*<script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>*@
@section masterJs
    {
    <script type="text/javascript">

        $(document).ready(function () {
          
            onchangeemployee(); 

            $(".partialLoad").addClass("hiddenPnl");

            //Add Button Click
            $("#addEduLvl").click(function () {
                
                var education_level_id = $("#education_level_id").val();
                var education_level_name = $("#education_level_id :selected").text();
                var institute_name = $("#institute_name").val();
                var edu_board = $("#edu_board").val();
                var passingyear = $("#passingyear").val();
                var major_group = $("#major_group").val();
                var result = $("#result").val();
                var allSuccess = true;


                //Check Same Academic Exam
                $("table#tblEduLvls > tbody > tr").each(function (row, tr) {
                    var t = $(this).find("td:nth-child(2)").find(".childTd").val();
                    if(t==education_level_id)
                    {
                        allSuccess = false;
                        alertify.notify('Same Exam', 'warning', 5, function () { console.log('dismissed'); });
                    }
                });

             
                if (!education_level_id)
                {
                    allSuccess = false;
                    alertify.notify('Please Select Exam', 'warning', 5, function () { console.log('dismissed'); });
                }
                else if (!institute_name) {
                    allSuccess = false;
                    alertify.notify('Please Enter Institute Name', 'warning', 5, function () { console.log('dismissed'); });
                }
                else if (!edu_board) {
                    allSuccess = false;
                    alertify.notify('Please Enter Board', 'warning', 5, function () { console.log('dismissed'); });
                }
                else if (!passingyear) {
                    allSuccess = false;
                    alertify.notify('Please Enter Passing Year', 'warning', 5, function () { console.log('dismissed'); });
                }
                else if (!major_group) {
                    allSuccess = false;
                    alertify.notify('Please Enter Group', 'warning', 5, function () { console.log('dismissed'); });
                }
                else if (!result) {
                    allSuccess = false;
                    alertify.notify('Please Enter Result', 'warning', 5, function () { console.log('dismissed'); });
                }

                else if (allSuccess) {
                    var tablehtml = "<tr>";
                    tablehtml += "<input type=\"hidden\"  name=\"tableRows[]\" value=" + education_level_id + "  />";
                    tablehtml += "<td>" + education_level_name + "<input type=\"hidden\" class=\"childTd\" propname=\"education_level_id\" name=\"education_level_id\" value=" + education_level_id + "  /></td>";
                    tablehtml += "<td>" + institute_name + "<input type=\"hidden\" class=\"childTd\" propname=\"institute_name\" class=\"loop\"  name=\"institute_name\" value=" + institute_name + "  /></td></td>";
                    tablehtml += "<td>" + edu_board + "<input type=\"hidden\" class=\"childTd\" propname=\"edu_board\" name=\"edu_board\" value=" + edu_board + "  /></td></td>";
                    tablehtml += "<td>" + passingyear + "<input type=\"hidden\" class=\"childTd\" propname=\"passingyear\" name=\"passingyear\" value=" + passingyear + "  /></td></td>";
                    tablehtml += "<td>" + major_group + "<input type=\"hidden\" class=\"childTd\" propname=\"major_group\" name=\"major_group\" value=" + major_group + "  /></td></td>";
                    tablehtml += "<td>" + result + "<input type=\"hidden\" class=\"childTd\" propname=\"result\" name=\"result\" value=" + result + "  /></td></td>";
                    tablehtml += "<td> <div   class=\"btn btn-primary deleteEduLvls\">Delete</div></td>";
                    tablehtml += "</tr>";


                    $("#tblEduLvls").append(tablehtml);

                    reArrangeDomIDs();
                }
            });


        });

        function reArrangeDomIDs()
        {
            var i = 1;
            var countTr = $("table#tblEduLvls > tbody > tr").length;
            $("table#tblEduLvls > tbody > tr").each(function (row, tr) {
                var t = $(this).find("td:nth-child(1)").find(".childTd").val();
                $(this).find("td").each(function (column, index) {
                    var getName = $(this).find(".childTd").attr("propname");
                    var newName=getName+"_"+i;
                    $(this).find(".childTd").attr("name", newName);                  
                });
                i++;
            });
        }

        // Delete Remove Row
        $(document).on('click', '.deleteEduLvls', function () {
            if (confirm('Are you Sure want to delete?')) {
                $(this).parent().parent().remove();
                reArrangeDomIDs();
            }

        });

        // Change When Select Employee
        function onchangeemployee() {

            //where found Partial Load Class make it hidden
            $(".partialLoad").addClass("hiddenPnl");

            //Show Loading Message
            $("#lblLoadingMsg").html("Loading...");

            if ($("#ddlEmployee").val() != 0) {
                var empID = $("#ddlEmployee").val();
                $.ajax({
                    url: '/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/JsonEmployeeLoad?empID=' + empID,
                    type: 'GET',
                    success: function (data) {
                        $("#lblLoadingMsg").html("");
                        $(".partialLoad").removeClass("hiddenPnl");

                        $(".partialLoad input[name='employee_name']").val(data.VM_HRM_EMPLOYEE_OFFICIAL.name);
                        $(".partialLoad input[name='desig_name']").val(data.VM_HRM_DESIGNATION.name);
                        $(".partialLoad input[name='dep_name']").val(data.VM_DEPARTMENT.name);

                        $.each(data, function(i, item) {
                            alert(data[i].PageName);
                        });​
                    },
                    error: function () {

                    }
                });
            }


            // alert(id);
        }


        

    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2();
                });

    </script>
}

